.App {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
button {
  height: 40px;
  width: 80px;
  margin-top: 22px;
  margin-right: 10px;
  background: white;
  border: 0.5px solid grey;
}

button:hover {
  background: #caf7e3;
  transition: all 500ms ease;
}
